aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.6.2.post1
attrs==24.2.0
Brotli==1.1.0
build==1.2.2.post1
CacheControl==0.14.0
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
cleo==2.1.0
click==8.1.7
cloudscraper==1.2.71
crashtest==0.4.1
curl_cffi==0.7.3
decorator==4.4.2
distlib==0.3.9
distro==1.9.0
docstring_parser==0.16
dulwich==0.21.7
dynaconf==3.2.6
edge-tts==6.1.15
fastjsonschema==2.20.0
filelock==3.16.1
frozenlist==1.5.0
fsspec==2024.10.0
future==1.0.0
g4f==0.3.3.3
google-ai-generativelanguage==0.6.10
google-api-core==2.22.0
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.71.0
google-cloud-bigquery==3.26.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.13.0
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-generativeai==0.8.3
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
grpc-google-iam-v1==0.13.1
grpcio==1.67.1
grpcio-status==1.67.1
h11==0.14.0
httpcore==1.0.6
httplib2==0.22.0
httpx==0.27.2
httpx-sse==0.4.0
idna==3.10
imageio==2.36.0
imageio-ffmpeg==0.5.1
importlib_metadata==8.5.0
installer==0.7.0
jaraco.classes==3.4.0
Jinja2==3.1.4
jiter==0.6.1
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
keyring==24.3.1
langchain==0.3.6
langchain-core==0.3.14
langchain-google-vertexai==2.0.6
langchain-openai==0.2.4
langchain-text-splitters==0.3.1
langsmith==0.1.138
llvmlite==0.43.0
MarkupSafe==3.0.2
more-itertools==10.5.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
mutagen==1.47.0
nanoid==2.0.0
networkx==3.4.2
nltk==3.9.1
numba==0.60.0
numpy==1.26.4
openai==1.53.0
openai-whisper==20240930
orjson==3.10.10
packaging==24.1
pexpect==4.9.0
pillow==11.0.0
pkginfo==1.11.2
platformdirs==4.3.6
poetry==1.8.4
poetry-core==1.9.1
poetry-plugin-export==1.8.0
proglog==0.1.10
propcache==0.2.0
proto-plus==1.25.0
protobuf==5.28.3
ptyprocess==0.7.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.9.2
pydantic_core==2.23.4
pyparsing==3.2.0
pyproject_hooks==1.2.0
pysrt==1.1.2
python-dateutil==2.9.0.post0
PyYAML==6.0.2
qrcode==8.0
RapidFuzz==3.10.1
regex==2024.9.11
requests==2.32.3
requests-toolbelt==1.0.0
rsa==4.9
semantic-version==2.10.0
setuptools-rust==1.10.2
shapely==2.0.6
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.36
sympy==1.13.1
tenacity==9.0.0
tiktoken==0.8.0
tomlkit==0.13.2
torch==2.5.0
tqdm==4.66.5
trove-classifiers==2024.10.21.16
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==2.2.3
virtualenv==20.27.0
xattr==1.1.0
yarl==1.16.0
zipp==3.20.2
